In [ ]:
Rule no 1: No Namespaces while declaring the variable

In [1]:
First name= Palash
Print(first name)

SyntaxError: invalid syntax (1929892340.py, line 1)

In [3]:
firstname= 'Palash'
Print(firstname

SyntaxError: incomplete input (1503173211.py, line 2)

In [5]:
Print(firstname)

NameError: name 'Print' is not defined

In [7]:
firstname = 'Palash'
print(firstname)

Palash

In [ ]:
Rule no:2 - A Variable should not start with a number **

In [9]:
1name = 'Palash'
print(1name)

SyntaxError: invalid decimal literal (3404526831.py, line 1)

In [11]:
name1='Palash'
Print(name1)

NameError: name 'Print' is not defined

In [13]:
name1= 'Palash'
Print(name1)

NameError: name 'Print' is not defined

In [15]:
name1 = 'Palash'
print(name1)

Palash

In [ ]:
Rule No:3 A Variable should not Contain any special characters
@ # $ % ^ &

In [17]:
name@ = 'palash'
print(name@)

SyntaxError: invalid syntax (3931789793.py, line 1)

Introduction to data types :
           1. strings =========> str
           2. number ==========> integers-------> int and floats (decimals) -----> 0.1,0.2, ====> float
           3. lists ===========> list
           4. tuples ==========> tuple
           5. Dictionary ======> dict

In [ ]:
Classification of data types :

           Broadly datatypes are classified in to two categories :

                1. Mutable datatypes ====> these are flexible and can be editable and can be altered.
                2. immutable datatypes ==> these are fixed and cannot be edited or altered.

In [ ]:
Introduction to string datatypes :

 Def: A string is a series of characters delared in quotes.
    classification: it is classified as an immutable datetype
how to declare a string........?

    there are 2 approaches :
1. single quote
2. Double quote

In [19]:
fisrtname = 'palash'
print(firstname)

Palash

In [21]:
name = "palash"
print(name)

palash

In [ ]:
Introduction to String Methods :

In [23]:
type(firstname)

str

In [25]:
type(name)

str

In [ ]:
Note: 1 python is a case sensitive language.

In [ ]:
# is used to comment the code.

In [27]:
fullname = 'palash badasheshi'
print(fullname)

palash badasheshi

In [29]:
print(fullname.title())

Palash Badasheshi

In [ ]:
# req: i want the entire name in capital letters.

In [31]:
print(fullname.upper())

PALASH BADASHESHI

In [ ]:
#